<div class="sidebar">
    <div class="logo-title">
        <div class="title">
            <picture>
                {{ $dir := path.Dir .Site.Params.profilePicture }}
                {{ $base := path.Base .Site.Params.profilePicture }}
                <source srcset="{{ range (readDir $dir ) }}{{ if (and ( hasPrefix .Name $base ) ( eq (path.Ext .Name) ".webp" )) }}{{ $width := ( substr .Name (add (len $base ) 1) -5 ) }}{{ $url := ((path.Join $dir .Name)) }}{{ substr $url 7 (len $url) }} {{ $width }}w,{{ end }}{{ end }}">
                <img src="{{ substr .Site.Params.profilePicture 7 (len .Site.Params.profilePicture) }}.jpg" alt="Profile picture" />
            </picture>
            <h3 title=""><a href="/">{{ .Site.Params.Title }}</a></h3>
            <div class="description">
                <p>{{ .Site.Params.description }}</p>
            </div>
        </div>
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" rel="noopener">
                    <img class="social" src="{{ $item.icon }}" aria-hidden="true"></img>
                </a>
            </li>
        {{ end }}
    </ul>
    <div class="footer">&copy; {{ .Site.Params.author }} {{ now.Format "2006"}}</div>
</div>
